<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>房源信息</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
</head>
<body>
<form class="layui-form" action="#" method="post" > <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label">房源编号</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforId" value="${house.huoseInforId}" placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源随机编号</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforSjid" value="${house.huoseInforSjid}" placeholder="请输入" autocomplete="off" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源名称</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforAddr" value="${house.huoseInforAddr}" placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源楼层</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforStorey" value="${house.huoseInforStorey}" placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源配置</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforConfig" value="${house}"  placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源面积</label>
        <div class="layui-input-block">
            <input type="text" name="huoseInforArea" value="${house.huoseInforArea}" placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择装修</label>
        <div class="layui-input-block">
            <select name="houseInforDecoration" value="${house.houseInforDecoration}" lay-filter="aihao">
                <option value="0">豪装</option>
                <option value="1">简装</option>
                <option value="2">普装</option>
                <option value="3">毛坯装</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">房源描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="huoseInforDescribe" value="${house.huoseInforDescribe}"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源单价(元/月)</label>
        <div class="layui-input-block">
            <input type="text" name="houseInforMoney" placeholder="请输入" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">付款方式</label>
        <div class="layui-input-block">
            <select name="houseInforPaytype"  value="${house.houseInforPaytype}" lay-filter="aihao">
                <option value="月付">月付</option>
                <option value="季付">季付</option>
                <option value="半年付">半年付</option>
                <option value="年付">年付</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源状态</label>
        <div class="layui-input-block">
            <select name="houseInforStatus" value="${house.houseInforStatus}" lay-filter="aihao">
                <option value="0">正在出租</option>
                <option value="1">正在签约</option>
                <option value="2">已签约</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">房源级别</label>
        <div class="layui-input-block">
            <select name="houseInforLevel" value="${house.houseInforLevel}" lay-filter="aihao">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use('form', function(){
        var form = layui.form;

        //各种基于事件的操作，下面会有进一步介绍
    });
    /*layui.use('form', function () {
        var form = layui.form, upload = layui.upload;
        form.render();
        Common.uploadFile('#test1', upload, function (data) {
            console.log(data);
        });
        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            //TODO ajax提交表单
            return false;
        });
    });*/
</script>
</body>
</html>