<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房源图片添加</title>
</head>
<body>

<form action="/house/upload.do" method="post" enctype="multipart/form-data">
    <input type="file" name="file1"/>
    <input type="file" name="file2"/>
    <input type="file" name="file3"/>
    <input type="submit" value="submit"/>
</form>

<script src="/static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/jquery/1.9.1/jquery.js" CHARSET="UTF-8"/>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //多图片上传
        upload.render({
            elem: '#addPhoto'
            , url: '/house/upload/'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#addPhoto').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                });
            }
            , done: function (res) {
                //上传完毕
            }
        });
    });

</script>
</body>
</html>