<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="static/layui/css/layui.css" />
</head>

<body>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">房源管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="house_information.html" target="rightFrame">房源信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">联系人信息</a>
                    </dd>
                    <dd>
                        <a href="javascript:;">类别信息</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">用户信息</a>
                    </dd>
                    <dd>
                        <a href="">后台模版</a>
                    </dd>
                    <dd>
                        <a href="">电商平台</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">订单管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">用户信息</a>
                    </dd>
                    <dd>
                        <a href="">后台模版</a>
                    </dd>
                    <dd>
                        <a href="">电商平台</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">统计管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">用户信息</a>
                    </dd>
                    <dd>
                        <a href="">后台模版</a>
                    </dd>
                    <dd>
                        <a href="">电商平台</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">权限管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">用户信息</a>
                    </dd>
                    <dd>
                        <a href="">后台模版</a>
                    </dd>
                    <dd>
                        <a href="">电商平台</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<script src="static/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('element', function() {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>

</html>