<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all"/>
</head>
<body>


<form class="layui-form">


    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="userName" required="required" lay-verify="required" placeholder="请输入用户名"
                   autocomplete="off" class="layui-input" id="userName"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="userRealname" required="required" lay-verify="required" placeholder="请输入真实姓名"
                   autocomplete="off" class="layui-input" id="userRealname" />
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="userSexy" value="男" title="男" id="usersexyman"/>
            <input type="radio" name="userSexy" value="女" title="女"  id="usersexyfaleman"/>
            <input type="text" hidden="hidden" id="sexy" />
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">联系电话</label>
        <div class="layui-input-block">
            <input type="text" name="userTel" required="required" lay-verify="required" autocomplete="off"
                   class="layui-input" id="userTel"/>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-block">
            <input type="text" name="userAddr" required="required" lay-verify="required" autocomplete="off"
                   class="layui-input" id="userAddr"/>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">身份</label>
        <div class="layui-input-block">
            <select name="roleName" lay-verify="required" id="roleName">
                <option value=""></option>
                <option value="房东">房东</option>
                <option value="租客">租客</option>
            </select>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/jquery/2.1.4/jquery.js"></script>
<script>


    $(document).ready(function(){
        // 在这里写你的代码...
        form = layui.form;
    });


    function sexy(x) {

        if(x==1){
            $("#usersexyman").attr('checked',true);
        }else {
            $("#usersexyfaleman").attr('checked',true);
        }

        form.render();
    }








    //Demo


    layui.use('form', function () {
        var form = layui.form;
        var index = parent.layer.getFrameIndex(window.name);
        //监听提交
        form.on('submit(formDemo)', function (data) {

            $.ajax({
                url: "/Sysuser_add",
                method:"post",
                data: JSON.stringify(data.field),
                contentType: 'application/json',
                dataType:'json',
                success: function (data) {
                    if (data.success !=null ) {
                        alert("添加成功！");
                        parent.layer.close(index);//关闭弹出层
                        parent.location.reload();//更新父
                    } else {
                        alert("添加失败！");
                    }
                }
            });

            return false;
        });
    });


</script>


</body>
</html>