<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.HouseInforPhotoMapper">
  <resultMap id="BaseResultMap" type="com.qphone.pojo.HouseInforPhoto">
    <result column="HUOSE_INFOR_ID" jdbcType="DECIMAL" property="huoseInforId" />
    <result column="HOUSE_PHOTO_ID" jdbcType="DECIMAL" property="housePhotoId" />
  </resultMap>
  <insert id="insert" parameterType="com.qphone.pojo.HouseInforPhoto">
    insert into HOUSE_INFOR_PHOTO (HUOSE_INFOR_ID, HOUSE_PHOTO_ID)
    values (#{huoseInforId,jdbcType=DECIMAL}, #{housePhotoId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qphone.pojo.HouseInforPhoto">
    insert into HOUSE_INFOR_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="huoseInforId != null">
        HUOSE_INFOR_ID,
      </if>
      <if test="housePhotoId != null">
        HOUSE_PHOTO_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="huoseInforId != null">
        #{huoseInforId,jdbcType=DECIMAL},
      </if>
      <if test="housePhotoId != null">
        #{housePhotoId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>