<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.HouseLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.qphone.pojo.HouseLinkman">
    <id column="HOUSE_LINKMAN_ID" jdbcType="DECIMAL" property="houseLinkmanId" />
    <result column="HOUSE_LINKMAN_NAME" jdbcType="CHAR" property="houseLinkmanName" />
    <result column="HOUSE_LINKMAN_ROLE" jdbcType="CHAR" property="houseLinkmanRole" />
    <result column="HOUSE_LINKMAN_TEL" jdbcType="VARCHAR" property="houseLinkmanTel" />
    <result column="HOUSE_LINKMAN_OTHER" jdbcType="VARCHAR" property="houseLinkmanOther" />
  </resultMap>
  <sql id="Base_Column_List">
    HOUSE_LINKMAN_ID, HOUSE_LINKMAN_NAME, HOUSE_LINKMAN_ROLE, HOUSE_LINKMAN_TEL, HOUSE_LINKMAN_OTHER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HOUSE_LINKMAN
    where HOUSE_LINKMAN_ID = #{houseLinkmanId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from HOUSE_LINKMAN
    where HOUSE_LINKMAN_ID = #{houseLinkmanId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.qphone.pojo.HouseLinkman">
    insert into HOUSE_LINKMAN (HOUSE_LINKMAN_ID, HOUSE_LINKMAN_NAME, HOUSE_LINKMAN_ROLE, 
      HOUSE_LINKMAN_TEL, HOUSE_LINKMAN_OTHER)
    values (#{houseLinkmanId,jdbcType=DECIMAL}, #{houseLinkmanName,jdbcType=CHAR}, #{houseLinkmanRole,jdbcType=CHAR}, 
      #{houseLinkmanTel,jdbcType=VARCHAR}, #{houseLinkmanOther,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qphone.pojo.HouseLinkman">
    insert into HOUSE_LINKMAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseLinkmanId != null">
        HOUSE_LINKMAN_ID,
      </if>
      <if test="houseLinkmanName != null">
        HOUSE_LINKMAN_NAME,
      </if>
      <if test="houseLinkmanRole != null">
        HOUSE_LINKMAN_ROLE,
      </if>
      <if test="houseLinkmanTel != null">
        HOUSE_LINKMAN_TEL,
      </if>
      <if test="houseLinkmanOther != null">
        HOUSE_LINKMAN_OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseLinkmanId != null">
        #{houseLinkmanId,jdbcType=DECIMAL},
      </if>
      <if test="houseLinkmanName != null">
        #{houseLinkmanName,jdbcType=CHAR},
      </if>
      <if test="houseLinkmanRole != null">
        #{houseLinkmanRole,jdbcType=CHAR},
      </if>
      <if test="houseLinkmanTel != null">
        #{houseLinkmanTel,jdbcType=VARCHAR},
      </if>
      <if test="houseLinkmanOther != null">
        #{houseLinkmanOther,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qphone.pojo.HouseLinkman">
    update HOUSE_LINKMAN
    <set>
      <if test="houseLinkmanName != null">
        HOUSE_LINKMAN_NAME = #{houseLinkmanName,jdbcType=CHAR},
      </if>
      <if test="houseLinkmanRole != null">
        HOUSE_LINKMAN_ROLE = #{houseLinkmanRole,jdbcType=CHAR},
      </if>
      <if test="houseLinkmanTel != null">
        HOUSE_LINKMAN_TEL = #{houseLinkmanTel,jdbcType=VARCHAR},
      </if>
      <if test="houseLinkmanOther != null">
        HOUSE_LINKMAN_OTHER = #{houseLinkmanOther,jdbcType=VARCHAR},
      </if>
    </set>
    where HOUSE_LINKMAN_ID = #{houseLinkmanId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qphone.pojo.HouseLinkman">
    update HOUSE_LINKMAN
    set HOUSE_LINKMAN_NAME = #{houseLinkmanName,jdbcType=CHAR},
      HOUSE_LINKMAN_ROLE = #{houseLinkmanRole,jdbcType=CHAR},
      HOUSE_LINKMAN_TEL = #{houseLinkmanTel,jdbcType=VARCHAR},
      HOUSE_LINKMAN_OTHER = #{houseLinkmanOther,jdbcType=VARCHAR}
    where HOUSE_LINKMAN_ID = #{houseLinkmanId,jdbcType=DECIMAL}
  </update>
</mapper>