<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.HouseInforCatalogMapper">
  <resultMap id="BaseResultMap" type="com.qphone.pojo.HouseInforCatalog">
    <result column="HUOSE_INFOR_ID" jdbcType="DECIMAL" property="huoseInforId" />
    <result column="HOUSE_CATALOG_ID" jdbcType="DECIMAL" property="houseCatalogId" />
  </resultMap>
  <insert id="insert" parameterType="com.qphone.pojo.HouseInforCatalog">
    insert into HOUSE_INFOR_CATALOG (HUOSE_INFOR_ID, HOUSE_CATALOG_ID)
    values (#{huoseInforId,jdbcType=DECIMAL}, #{houseCatalogId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.qphone.pojo.HouseInforCatalog">
    insert into HOUSE_INFOR_CATALOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="huoseInforId != null">
        HUOSE_INFOR_ID,
      </if>
      <if test="houseCatalogId != null">
        HOUSE_CATALOG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="huoseInforId != null">
        #{huoseInforId,jdbcType=DECIMAL},
      </if>
      <if test="houseCatalogId != null">
        #{houseCatalogId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>