<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qphone.dao.HouseInforLinkmanMapper">
    <resultMap id="BaseResultMap" type="com.qphone.pojo.HouseInforLinkman">
        <result column="HUOSE_INFOR_ID" jdbcType="DECIMAL" property="huoseInforId"/>
        <result column="USER_ID" jdbcType="DECIMAL" property="userId"/>
    </resultMap>
    <insert id="insert" parameterType="com.qphone.pojo.HouseInforLinkman">
    insert into HOUSE_INFOR_LINKMAN (HUOSE_INFOR_ID, USER_ID)
    values (#{huoseInforId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.qphone.pojo.HouseInforLinkman">
        insert into HOUSE_INFOR_LINKMAN
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="huoseInforId != null">
                HUOSE_INFOR_ID,
            </if>
            <if test="userId != null">
                USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="huoseInforId != null">
                #{huoseInforId,jdbcType=DECIMAL},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <!--删除销售关联房源-->
    <delete id="deleteHouseToUser" parameterType="com.qphone.pojo.HouseInforLinkman">
    delete
    from
    house_infor_linkman hl
    where
    hl.huose_infor_id=#{huoseInforId,jdbcType=DECIMAL}
    and
    hl.user_id=#{userId,jdbcType=DECIMAL}
  </delete>
</mapper>